* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 40px;
  background: transparent;
  z-index: 100;
  font-family: "D-DIN", sans-serif;
  font-weight: bold;
  color: white;
}

svg {
    fill: white;
}

.logo {
    width: 15%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
     margin-top: 20px;
     cursor: pointer;
    left: 30px;
    color: white;
    background: transparent;
}

.list {
    width: 70%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
}

.list:hover {
    text-decoration: underline;
}

.shop {
    width: 10%;
    height: 50px;
    display: flex;
     margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#parent {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: -142px;
    position: relative;
    opacity: 0.99;
    z-index: -1;
}

.new {
    position: absolute;
    font-family: "D-DIN", sans-serif;
    font-weight: bold;
    left: 35px;
    bottom: 350px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px; /* more space between text and button */
}

.child4 {
    /* padding: 15px 30px;
    font-family: "D-DIN", sans-serif;
    font-size: 14px;
    width: 150px;
    background: #dae817;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
    text-align: center;
     */
      padding: 15px 50px;
    background-color: transparent;
    color: white;
}
.child4>btntext:hover{
    background-color: aqua;
}

/* .child4:hover{
    color: black;
        background-color: white;
} */

/* .child4:hover {
    background: #000;
    color: #dae817;
} */

.footer {
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
}

.videobackground{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.video>.Btn{
    padding: 15px 30px;
    font-family: "D-DIN", sans-serif;
    font-size: 14px;
    width: 40%;
    height: 40%;
    color: #eae1e1;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 5%;
    text-transform: uppercase;
    z-index: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    flex-direction: column;

}
.video>.Btn>button{
    padding: 15px 50px;
    background-color: transparent;
    color: white;
}
.video>.Btn>button:hover{
        color: black;
        background-color: white;
}
